

<div class="container-fluid">
    <div class="header text-center">
      <div class="content">
        <div style="font-size: 6rem;">Git<span>-</span>Search</div><br>
        <h2>Profile finder for Github</h2>
        <h2>Find Github users and repositories.</h2><br>
      </div><br>
      <button class="btn btn-primary">
      <a routerLink="/finduser" style="color: inherit;">
        <h4>View my profile</h4>
      </a>
      </button>
      <a routerLink="/finduser"><i class="fas fa-angle-double-down" style="font-size: 2rem;"></i></a>
    </div>
  </div>