<app-navbar></app-navbar>



<div class="container-fluid">
    <div class="header text-center">
      <div class="content">
        <div style="font-size: 6rem;">Git<span>
            <img width="85" alt="Angular Logo" src="../assets/GitHub-logo-removebg-preview.png"
              style="padding-bottom: 2%;" /></span>Search</div><br><br>
        <h1>Profile finder for Github</h1>
        <h4>Find Github users and repositories.</h4><br>
      </div>
      <a routerLink="/my-profile" style="color: inherit;">
        <h4>View my profile</h4>
      </a><br>
      <a routerLink="/my-profile"><i class="fas fa-angle-double-down" style="font-size: 2rem;"></i></a>
    </div>
  </div>