img{
    border-radius: 50%;
    height: 130px;
}
#container-1{
    text-align: center;
    margin-top: 50px;
}
#container-2{
    text-align: center;
    margin-top: 20px;
}
#btn-1{
    margin-top: 10px;
}
label{
    margin-top: 10px;
    font-weight: bolder;
}

