

<div class = "container" id="container-1">
        <form>
            <div class="form-group">
                <input type = "text" id="user-name" class="form-control"  placeholder = "Enter Your GitHub Name" [(ngModel)]="username" name="username"> 
            </div>
            <button type="submit" class="btn btn-primary" (click)= "submitName()" id="btn-1">Submit</button>
        </form>
        </div>
    
         <div class="container" id="container-2">
                    <img src = {{profile.avatar_url}} alt ="github user's image"><br>
                    <label for="login">Username:</label>
                    <p appStrikethrough>{{profile.login | uppercase}}</p>
                
                    <div>
                    <label for="followers">Followers:</label>
                    {{profile.followers}}
                    </div>
                    <div>
                    <label for="following">Following</label>
                    {{profile.following}}
                    </div>
                    <p> {{profile.bio | uppercase}}</p>
                    <br>
                    Joined GitHub on <strong appStrikethrough>{{profile.created_at | date}}</strong>
            {{repositories.description}}
        </div>

 

