<div class="container" id="container-1">
        <form>
            <div class="form-group">
                <label for ="user-name">Enter Your GitHub UserName:</label>
                <input type = "text" id="user-name" class="form-control"  placeholder = "Enter Your GitHub Name" [(ngModel)]="username" name="username"> 
            </div>
            <button type="submit" class="btn btn-info" (click)= "submitName()">Submit</button>
    
        </form>    
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor='let repo of repositories'>
            <div class="card">
              <p id="p-1"><strong>{{repo.name}}</strong></p>
             <div class="card-text">
                 {{repo.description}}
             </div>
            </div>
        </div>
            
    
        </div>


